body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}
html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
}
.container {
    overflow: auto;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.action-buttons {
    display: flex;
    flex-direction: column;
}
.action-button {
    margin: 6px !important;
    width: 120px;
}
.el-button + .el-button {
    margin: 0;
}
.el-table .cell {
    word-break: normal;
}
